<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>쪽지 내용</h2>
    <a href = "{% url 'Message_Box_Page' %}">뒤로가기</a>
        <ul>
            보낸사람 {{ message.connected_user.user_id }}
        </ul>
        <ul>
            제목 {{ message.title }}
        </ul>
        <ul>
            내용 {{ message.content }}
        </ul>
        <ul>
            <a href = "{% url 'Message_Reply_Page' message.connected_user.id %}">답장하기</a>
        </ul>
        <ul>
            <a href = "{% url 'Message_Delete' message.id %}">삭제하기</a>
        </ul>
</body>
</html>