<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>쪽지함</h2>
    <a href = "{% url 'Index_Page' %}">뒤로가기</a>
    <ul>
        <a href = "{% url 'Message_Writing_Page' %}">쪽지 보내기</a>
    </ul>
    <hr>
    {% for message in messages %}
        {% if message.recipient == request.user.user_id %}
            <ul>
                제목 : <a href = "{% url 'Message_Detail_Page' message.id %}">{{ message.title }}</a>
                보낸사람 : {{ message.connected_user.user_id }}
            </ul>
            <hr>
        {% endif %}
    {% endfor %}
</body>
</html>