<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>답장하기</h2>
    <a href = "{% url 'Message_Box_Page' %}">뒤로가기</a>
    <form action = "{% url 'Message_Writing_Action' %}" method = "post">
        {% csrf_token %}
        <ul>
            <input type = "hidden" name = "input_recipient" value = "{{ user.user_id }}">
        </ul>
        <ul>
            제목  <input type = "text" name = "input_title">
        </ul>
        <ul>
            내용  <input type = "text" name = "input_content">
        </ul>
        <ul>
            <button type = "submit">보내기</button>
        </ul>
    </form>
</body>
</html>