<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>회원 정보</h2>
    <a href = "{% url 'Index_Page' %}">뒤로가기</a>
    <form action = "{% url 'Edit_Info' %}" method = "post">
        {% csrf_token %}
        <ul>
            아이디 <input type = "text" name = input_user_id value = "{{ request.user.user_id}}">
        </ul>
        <ul>
            이름 <input type = "text" name = "input_name" value = "{{ request.user.name }}">
        </ul>
        <ul>
            이메일 <input type = "email" name = "input_email" value = "{{ request.user.email }}">
        </ul>
        <ul>
            <button type = "submit">수정하기</button>
        </ul>
        <ul>
            <a href = "{% url 'Myaccount_Page' %}">새로고침</a>
        </ul>
    </form>
    <br>
        <h2>내가 작성한 글</h2>
        <br>
        <hr>
        {% for post in posts %}
            <ul>
                제목 : <a href = "{% url 'Post_Detail_Page' post.id %}">{{ post.title }}</a>
            </ul>
            <hr>
        {% endfor %}
</body>
</html>