<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href = "{% url 'Index_Page' %}">메인페이지</a>
    <h2>회원가입</h2>
    <form action = "{% url 'Signup_Action' %}", method = "post">
        {% csrf_token %}
        <ul>
            <input type = "text", name = "input_user_id", placeholder = "id">
        </ul>
        <ul>
            <input type = "password", name = "input_password", placeholder = "password">
        </ul>
        <ul>
            <input type = "text", name = "input_name", placeholder = "name">
        </ul>
        <ul>
            <input type = "email", name = "input_email", placeholder = "email">
        </ul>
        <ul>
            <button type = "submit">회원가입</button>
        </ul>
    </form>
    </body>
</html>