<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>INDEX</h2>
    {% if request.user.id %}
        {{ request.user.name }} 님 환영합니다.
    {% else %}
        로그인 해주세요
        <br>
    {% endif %}
    <br>
    {% if request.user.id %}
        <br>
        <a href = "{% url '로그아웃' %}">로그아웃</a>
        <br>
        <br>
        <a href = "{% url '마이페이지' %}">내 계정</a>
        <br>
    {% else %}
        <a href = "{% url '회원가입' %}">회원가입</a>
        <br>
        <br>
        <a href = "{% url '로그인' %}">로그인</a>
    {% endif %}
</body>
</html>