<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>로그인</h2>
    <form action = "{% url '로그인_액션' %}" method = "post">
        {% csrf_token %}        
        <ul>
            <input type = "text", name = "input_user_id", placeholder = "id">
        </ul>
        <ul>
            <input type= "password", name = "input_password", placeholder = "password">
        </ul>
        <ul>
            <button type = "submit">로그인</button>
        </ul>
        <ul>
            <a href = "{% url '회원가입' %}">회원가입</a>
        </ul>
    </form>
</body>
</html>