<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_login.css' %}">
    <title>로그인</title>
</head>
<body>
    <h2>로그인</h2>
    <form action="{% url '로그인_액션' %}" method="post">
        {% csrf_token %}        
        <ul>
            <li>
                <input type="text" name="input_user_id" placeholder="ID" required>
            </li>
        </ul>
        <ul>
            <li>
                <input type="password" name="input_password" placeholder="Password" required>
            </li>
        </ul>
        <ul>
            <li>
                <button type="submit">로그인</button>
            </li>
        </ul>
        <ul>
            <li>
                <a href="{% url '회원가입' %}">회원가입</a>
            </li>
        </ul>
    </form>
</body>
</html>
