<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>게시판</h2>
    <a href = "{% url 'Index_Page' %}">뒤로가기</a>
    <ul>
        <a href = "{% url 'Post_Writing_Page' %}">글쓰기</a>
    </ul>
    <br>
    <hr>
    {% for post in posts %}
        <ul>제목 : <a href = "{% url 'Post_Detail_Page' post.id %}">{{ post.title }}</a>
            작성자 : <a href = "{% url 'User_Detail_Page' post.connected_user.id %}">{{ post.author }}</a>
        </ul>
        <hr>
    {% endfor %}
</body>
</html>