<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h2>글 내용</h2>
<a href = "{% url 'Board_Page' %}">뒤로가기</a>
<body>
    <ul>
        제목 {{ post.title }}
    </ul>
    <ul>
        내용 {{ post.content }}
    </ul>
    <ul>
        {% if post.connected_user.id == request.user.id %}
            <form action = "{% url 'Delete_Post' post.id %}" method = "post">
                {% csrf_token %}
                <button type="submit">삭제하기</button>
            </form>
        {% endif %}
    </ul>
</body>
</html>