<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'character_create.css' %}">    
    <title>캐릭터 생성하기</title>
</head>
<body>
    <div class="container">
        <h1>캐릭터 생성하기</h1>
        <form method="POST" id="character-form">
            {% csrf_token %}
            <label for="character_name">캐릭터 이름:</label>
            <input type="text" id="character_name" name="character_name" required>

            <label for="character_type">캐릭터 종류:</label>
            <select id="character_type" name="character_type" required>
                <option value="" disabled selected>종류 선택</option>
                <option value="no_1">캐릭터 종류1</option>
                <option value="no_2">캐릭터 종류2</option>
                <option value="no_3">캐릭터 종류3</option>
            </select>
            <button type="submit">캐릭터 생성하기</button>
        </form>
    </div>

    <script>
        const form = document.getElementById('character-form');
        form.addEventListener('submit', function(event) {
            alert('캐릭터가 생성되었습니다!');
        });
    </script>
</body>
</html>
